body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:  rgb(246, 249, 245);
}

.App {
  background-color: rgb(242, 243, 240);
  width:300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border:1px solid rgb(176, 171, 171);
  border-radius: 10px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.7);
  overflow: hidden;
}
.div {
  display:flex;
  justify-content: space-between;
  width:300px;
}
.header-div {
  background-color: rgb(71, 120, 227);
  padding:10px;
  width:280px;
  text-align: center;
  color:white;
  opacity:0.9;
}
.total-div {
  background-color: white;
  width:300px;
 
}
.total-name {
  text-align: center;
  font-size:50px;
  font-weight: bold;
}
.table-div {
  background-color: rgb(241, 64, 40);
  color:white;
}
table {
  border-collapse: collapse;
  width:300px;
}
td {
  background-color: white;
  color:black;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  text-transform: capitalize;
}
.input-div {
  width:300px;
  height:50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(207, 199, 199);
}
.input-transaction {
  margin-left:10px;
  height:30px;
  text-align: center;
  border-radius: 5px;
  border:1px solid rgb(180, 172, 172);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.input-amount {
  width:60px;
  margin-right:10px;
  height:30px;
  font-size: 13px;
  text-align: center;
  border-radius: 5px;
  border:1px solid rgb(180, 172, 172);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.drop-down {
  height:30px;
}
form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  width:300px;
  margin-top:10px;

}
label {
  font-size: 15px;
}

select {
  border-radius: 5px;
  height: 25px;
  border: 1px solid rgb(180, 172, 172);
}
button {
  height:40px;
  width:300px;
  margin-top:10px;
  font-size:20px;
  background-color: rgb(22, 22, 49);
  color:white;
}